{{#has author="count:>1"}}<div class="multi-author-title text-center">{{t "This post was collaboration between the following authors"}}</div>{{/has}}
<div class="about-author clearfix">
    {{#foreach authors}}
    <div class="row">
        <div class="col-md-auto">
            {{#if profile_image}}
                <a href="{{url}}"><img src="{{img_url profile_image size="s"}}" alt="{{name}}" class="avatar" role="presentation"></a>
                {{else}}
                <a href="{{url}}"><div class="avatar no-image ml-auto mr-auto">{{> icons/user}}</div></a>
            {{/if}}
        </div>
        <div class="col">
            <div class="details">
                <div class="author"><a href="{{url}}">{{name}}</a></div>
                <div class="bio">
                    {{{bio}}}
                </div>
            </div>
        </div>
    </div>
    {{/foreach}}
</div>