<footer class="site-footer text-center">
    <div class="footer_bg">
         <div class="footer_bg_one"></div>
         <div class="footer_bg_three"></div>
         <div class="footer_bg_two"></div>
         <div class="footer_bg_four"></div>
    </div>
    <div class="container-fluid" style="width: 80%">
        <div class="row">
            {{!-- <div class="col">
                {{#if @labs.members}}
                {{^if @member}}
                {{#is "index, post, page, tag, author"}}
                {{> subscription}}
                {{/is}}
                {{/if}}
                {{/if}}
                {{> social-links}}
                <div class="copyright">
                    &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> - {{{t "Published with {ghostLink}" ghostLink="<a href=\"https://ghost.org/\">Ghost</a>"}}}
                </div>
            </div> --}}
            {{> widgets/footer-tags}}
            {{> widgets/footer-about}}
            {{> widgets/footer-newsletter}}
            <div class="day-night-switch">
			        <input type="checkbox" name="theme-toggle" id="switch_theme" class="theme-toggle">
                    <label for="switch_theme" class="theme-toggle-label fade-in">{{t "Toggle Theme"}}</label>
		    </div>
            <a aria-label="top" href="#" id="return-top" title="我要飞的更高">{{> icons/arrow-up}}</a>
        </div>
        <div class="row copyright">
            <div class="col-sm-12">
                <p class="copyright" style="color:#b1b1b1;float: left">
                    <a href="https://halfrost.com" target="_blank" rel="noopener">Halfrost's Field | 冰霜之地  </a>
                    Copyright &copy; 2016 - 2021
                    <a href="http://www.miit.gov.cn/" style="color: #ffffff">  鄂ICP备16014744号</a>
                </p>
                <br>
                <p class="copyright" style="color:#b1b1b1;position: absolute;">
                    <span id="busuanzi_container_site_pv">本站累计访问量 PV 2263238 次 | 本月访问量 PV <span id="busuanzi_value_site_pv"></span> 次 | 本月访客数 UV <span id="busuanzi_value_site_uv"></span> 人次</span>
                </p>
            </div>
        </div>
    </div>
</footer>