{{#foreach navigation}}
<li class="{{slug}} nav-item{{#if current}} nav-item-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
{{/foreach}}
{{!-- {{#if @member}}
<li class="nav-item {{link_class for="/account/" activeClass="nav-item-current"}}">{{#link href="/account/"}}{{t "Account"}}{{/link}}</li>
<li class="nav-item">{{#link href="#signout" data-members-signout=""}}{{t "Sign out"}}{{/link}}</li>
{{else}}
<li class="nav-item {{link_class for="/signin/" activeClass="nav-item-current"}}">{{#link href="/signin/"}}{{t "Sign in"}}{{/link}}</li>
<li class="nav-item {{link_class for="/signup/" activeClass="nav-item-current"}}">{{#link href="/signup/"}}{{t "Sign up"}}{{/link}}</li>
{{/if}} --}}