<div class="share-wrap clearfix text-center">
    <div class="title">{{t "Share this article"}}</div>
    <ul class="share-links">
        <!-- facebook -->
        <li>
            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="{{t "Share on Facebook"}}" >{{> icons/facebook}} Facebook</a>
        </li>
        <!-- twitter -->
        <li>
            <a class="twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=580,height=296');return false;" title="{{t "Share on Twitter"}}" rel="noopener">{{> icons/twitter}} Twitter</a>
        </li>
        <!-- linkedin -->
        <li>
            <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=580,height=296');return false;" title="{{t "Share on Linkedin"}}" rel="noopener">{{> icons/linkedin}} Linkedin</a>
        </li>
        <!-- pinterest -->
        <li>
            <a class="pinterest" href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&description={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=580,height=296');return false;" title="{{t "Share on Pinterest"}}" rel="noopener">{{> icons/pinterest}} Pinterest</a>
        </li>
        <li>
            <a class="link js-copy-link" href="#" onclick="return false;" data-clipboard-text="{{url absolute="true"}}" title="{{t "Get the permalink"}}" rel="noopener">{{> icons/link}} {{t "Permalink"}} <span class="tooltip-text" role="alert">{{t "Link Copied to clipboard"}}</span></a>
        </li>
    </ul>
</div>