
<div class="subscribe">
    <h3 class="h1 title">{{t "Join my newsletter"}}</h3>
    <div class="description">
        {{t "I send posts digest once in a month. No spam ever, I promise."}}
    </div>
    <form class="members-form" data-members-form="subscribe">
        <div class="input-group">
            <label for="email" class="sr-only">{{t "Email"}}</label>
            <input data-members-email type="email" class="form-control" placeholder="{{t "Your email address"}}" required/>
            <div class="input-group-append">
                <button class="submit-btn btn btn-primary" type="submit"><span class="loading-spinner"></span>{{t "Subscribe"}}</button>
            </div>
        </div>
        <div class="messages-wrap text-center">
            <div class="message-success">
                <strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to confirm the subscription."}}
            </div>
            <div class="message-error">
                <strong>{{t "Error!"}}</strong> {{t "Please enter a valid email address!"}}
            </div>
        </div>
    </form>
</div>