<!DOCTYPE html>
<html lang="{{@site.locale}}">
	<head>
		{{! Document Settings }}
		<meta charset="UTF-8">
    	<meta name="theme-color" content="#FFFFFF"/>
    	<title>{{meta_title}}</title>
    	<link rel="manifest" href="/manifest.json">
    	<link rel="shortcut icon" href="{{asset "images/favicon.png"}}">
    	<link href="{{asset "images/apple-touch-icon.png"}}" rel="apple-touch-icon" />
    	<link href="{{asset "images/apple-touch-icon-76x76.png"}}" rel="apple-touch-icon" sizes="76x76" />
    	<link href="{{asset "images/apple-touch-icon-120x120.png"}}" rel="apple-touch-icon" sizes="120x120" />
    	<link href="{{asset "images/apple-touch-icon-152x152.png"}}" rel="apple-touch-icon" sizes="152x152" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="HandheldFriendly" content="True" />
		{{! Page Meta }}
		<title>{{meta_title}}</title>
		{{! Styles'n'Scripts }}
		<link type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700%7CPlayfair+Display:400,700&display=swap" rel="stylesheet">
		<style id="bundle-css">
            {{> styles/bundle-css}}
        </style>
		{{! Ghost outputs important style and meta data with this tag }}
		<script>
			if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light') {
					document.documentElement.setAttribute('data-theme', 'light');
                }
				else if (localStorage.getItem('selected-theme') == 'dark') {
					document.documentElement.setAttribute('data-theme', 'dark');
				}
            }
		</script>
		{{ghost_head}}
    	<script type="text/javascript">
      		var disqus_shortname = 'halfrost';
    	</script>
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	</head>

	<body class="{{body_class}}">
		{{! insert header partial}}
		{{> header}}
		{{> search-popup}}
        <main class="main-content-area">
        	{{{body}}}
		</main>
        {{! insert footer partial}}
        {{> footer}}
		{{! scripts}}
        <script async="async">
			var searchApi = "{{@site.url}}/ghost/api/v3/content/posts/?key={{>api-key}}&limit=all&fields=id,title,excerpt,custom_excerpt,url,published_at&formats=plaintext";
            var nextPage = '{{pagination.next}}';
            var totalPages = '{{pagination.pages}}';
			if(typeof(Storage) !== 'undefined') {
                if (localStorage.getItem('selected-theme') == 'light' || document.documentElement.getAttribute('data-theme') == 'light') {
					document.getElementById('switch_theme').checked = true;
                }
            }
        </script>
		<script src="{{asset "js/app.bundle.min.js"}}"></script>
        {{ghost_foot}}
		<script>
    		var serviceWorkerUri = '/serviceworker-v1.js';
      		if ('serviceWorker' in navigator) {
        		navigator.serviceWorker.register(serviceWorkerUri).then(function() {
          			if (navigator.serviceWorker.controller) {
            			console.log('Assets cached by the controlling service worker.');
          			} else {
            			console.log('Please reload this page to allow the service worker to handle network operations.');
          			}
        		}).catch(function(error) {
          			console.log('ERROR: ' + error);
       			 });
    		} else {
        		console.log('Service workers are not supported in the current browser.');
    		}
    	</script>
    	<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-82753806-1"></script>
    	<script>
      		window.dataLayer = window.dataLayer || [];
      		function gtag(){dataLayer.push(arguments);}
      		gtag('js', new Date());
      		gtag('config', 'UA-82753806-1');
    	</script>
	</body>
</html>