<!DOCTYPE html>
<html lang="zh">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#FFFFFF"/>
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="{{asset "images/favicon.png"}}">
    <link href="{{asset "images/apple-touch-icon.png"}}" rel="apple-touch-icon" />
    <link href="{{asset "images/apple-touch-icon-76x76.png"}}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{{asset "images/apple-touch-icon-120x120.png"}}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{{asset "images/apple-touch-icon-152x152.png"}}" rel="apple-touch-icon" sizes="152x152" />
    <!-- <link rel="stylesheet" type="text/css" href="{{asset "css/font.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}"> -->

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=5.0" />
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/all.min.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    {{! 百度统计 }}
    <script type="text/test">
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f9251b52c072239759f41e9f8e0ba0a4";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = 'halfrost'; // replace my_disqus_shortname with your shortname
    </script>
</head>
<body class="{{body_class}} nav-closed">
    {{!-- Everything else gets inserted here --}}
    {{{body}}}
    {{!-- The tag below includes the theme footer - partials/footer.hbs --}}
    {{> footer}}

    <!-- <script src="{{asset "components/jquery/dist/jquery.min.js"}}"></script>
    <script src="{{asset "components/ghost-hunter/jquery.ghostHunter.js"}}"></script>
    <script src="{{asset "components/bootstrap/dist/js/bootstrap.min.js"}}"></script> -->

    <!-- <footer class="site-footer clearfix" style="background-color: #444">
        <section class="copyright " style="color: #ffffff"><a href="{{@blog.url}} " style="color: #ffffff">{{@blog.title}}</a> &copy; 2015 - {{date format="YYYY "}}</section>
        <section class="copyright " style="color: #ffffff"><a href="https://halfrost.com/archives/" style="color: #ffffff">文章归档</a> • <a href="https://halfrost.com/links/" style="color: #ffffff">友情链接</a> • <a href="https://halfrost.com/about/" style="color: #ffffff">关于我</a> • <a href="https://halfrost.com/subscribe/" style="color: #ffffff">订阅邮件</a></section>
        <section>
        <a href="https://github.com/foru17/Yasuko" style="color: #ffffff">Theme Yasuko  </a> <a href="https://github.com/foru17/Yasuko" class="github-repo"><span class="gadget-github"></span>Star</a>
        <section class="poweredby " style="color: #ffffff">Powered by  <a href="https://ghost.org " style="color: #ffffff">Ghost</a></section>
        </section>
        <section><a href="http://www.miitbeian.gov.cn/" style="color: #ffffff">鄂ICP备16014744号</a></section>

        {{!七牛云存储的广告图片}}
        {{!<section><a href="https://www.qiniu.com " target="_blank"><img src="https://img.halfrost.com/Blog/ArticleTitleImage/qiniunomalfooter.png" border=0 /></a></section>}}
    </footer> -->

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <!-- <script type="text/javascript" src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/all.min.js"}}"></script>

    {{! // 这面这一行是分享图标在CDN上的css，加载方式是font-class引用 }}
    <!-- <link rel="stylesheet" type="text/css" href="//ob6mci30g.qnssl.com/fontss/iconfont.css"> -->

    {{! // 这面这一行是分享图标在CDN上的css，加载方式是symbol引用，这种方式可以支持彩色的iconfont }}
    <script async="async" src="//ob6mci30g.qnssl.com/fontss/iconfont.js"></script>
    {{! // 这面这一行是symbol引用必须要加入的css，这种方式可以支持彩色的iconfont }}
    <style type="text/css">
      .icon {
        width: 60px; height: 60px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }
    </style>


    <script>
    var serviceWorkerUri = '/serviceworker-v1.js';
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register(serviceWorkerUri).then(function() {
          // Registration was successful. Now, check to see whether the service worker is controlling the page.
          if (navigator.serviceWorker.controller) {
            console.log('Assets cached by the controlling service worker.');
          } else {
            console.log('Please reload this page to allow the service worker to handle network operations.');
          }
        }).catch(function(error) {
          console.log('ERROR: ' + error);
        });
    } else {
        // The current browser doesn't support service workers.
        console.log('Service workers are not supported in the current browser.');
    }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-82753806-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-82753806-1');
    </script>

    <!-- <script>
        (function(){
            if (!window.addEventListener) return;
            window.addEventListener('load', function(){
                var performance = window.performance;
                if (performance === undefined) return;
                timing = window.performance.timing;
                if (timing === undefined) return;
                if (document.cookie.indexOf('statistics_clientid=') != -1) return;
                var domain_lookup_time = timing.domainLookupEnd - timing.domainLookupStart;
                var connect_time = timing.connectEnd - timing.connectStart;
                var read_content_time = timing.responseEnd - timing.responseStart;
                new Image().src = ('https:' == document.location.protocol ? 'https://' : 'http://')
                    + 'stat.dnspod.cn/statistics/'
                    + domain_lookup_time + "/"
                    + connect_time + "/"
                    + read_content_time + ".png";
                var exdate=new Date();
                exdate.setDate(exdate.getDate() + 1);
                document.cookie="statistics_clientid=me"
                + ";expires="+exdate.toGMTString();
            }, false);
        }());
    </script> -->
</body>
</html>
