<!doctype html>
<html>
    <head>
        <title>{{message}}</title>
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <style>
            body {
                margin: 50px 0;
                text-align: center;
            }

            img {
                max-width: 200px;
            }

            h1 {
                font-size: 100px;
                font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei","Helvetica Neue", Arial, sans-serif;
                font-weight: 700;
                color: #616161;
                margin: 0;
            }

            h2 {
                font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei","Helvetica Neue", Arial, sans-serif;
                color: #757575;
                font-weight: 300;
                margin-top: 0;
                font-size: 24px;
            }
            #home-link {
                font-size: 19px;
                font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei","Helvetica Neue", Arial, sans-serif;
                font-weight: normal;
                color: #2196F3;
            }

            @media only screen and (max-width:500px) {
                body {
                    margin-top: 30px;
                }

                img {
                    max-width: 130px;
                }

                h1 {
                    font-size: 70px;
                }

                h2, #home-link {
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        </style>
    </head>
    <body>
        <a href="{{@site.url}}"><img src="{{asset "images/error.png"}}"></a>
        <h1>{{statusCode}}</h1>
        <h2>{{message}}</h2>
        <p><a id="home-link" href="{{@site.url}}">Go to the home page?</a></p>
    </body>
</html>
