{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    <!-- {{#if feature_image}}
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{feature_image}}">
    {{else}}
    <img src="https://img.halfrost.com/Blog/me.png" class="hide">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="https://img.halfrost.com/Blog/ArticleTitleImage/background-cover1.png" style="background-image:no-cover">
    {{/if}}

        <div class="nav-header">
        <div class="nav-header-container">
            <button class="back-home" onclick="window.history.back()">Back</button>
        </div>

        </div>
        <div class="header-wrap" >
            <div class="post-info-container">
                <h2 class="post-page-title ">
                {{title}}
                </h2>
                <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
                <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
                <span class="post-page-tags">
                    {{tags prefix="" separator=" "}}
               </span>
               <span class="post-page-time">{{reading_time}}</span>
            </div>
        </div>
    </header> -->

    <button class="go-back" onclick="window.history.back()"><i class="fa fa-chevron-left" style="font-size:30px;color:#fff;"></i></button>

    <header class="cover post-header">
				{{#if feature_image}}
				<div class="cover-bg" style="background-image: url({{feature_image}})"></div>
				{{/if}}
				<div class="cover-content">
					<div class="inner">
						{{#if tags}}
						<div class="post-page-tags" style="text-align:center;margin-top:0;margin-bottom:15px;">
							{{tags separator=""}}
						</div><!-- .post-tags -->
						{{/if}}
						<h1 class="post-title" style="padding-bottom: 30px;margin-bottom: 30px;">{{title}}</h1>
						<div class="post-meta">
              <span class="post-meta-wrap">{{#if primary_author.profile_image}}<img class="author-avatar" src="{{primary_author.profile_image}}" />{{/if}} <span class="post-author">{{authors}}</span> <time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span> <span class="reading-time">Estimate {{reading_time}}</span>

							<!-- by <span class="post-author">{{authors}}</span> on <time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time> <span class="reading-time">Estimate {{reading_time}}</span> -->
						</div><!-- .post-meta -->
						<!-- <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text"></span></a> -->
            <div id="scroll-hint" class="header-scroll-hint hide-on-menu">
                <i class="fa fa-chevron-down"></i>
            </div>
					</div><!-- .inner -->
				</div><!-- .cover-content -->
			</header><!-- .cover -->

<main class="content" id="main" role="main">

    <article class="{{post_class}}">

    {{#primary_author}}
                <section class="author">
                 {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="javascript:;" style="background-image: url('{{profile_image}}')"><span class="hide">{{name}}'s Picture</span></a>
            </figure>
              {{/if}}

            <section class="author-detail">
                <a href="javascript:;">{{name}}</a>
            {{#if bio}}
                 <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
                <div class="author-meta">
                     {{#if location}}
                    <span class="author-location">{{location}}</span>
                    {{/if}}
                     {{#if website}}
                    <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                    {{/if}}
                </div>

            </section>
        </section>
        {{/primary_author}}

    </article>

          <section class="share">
            <div class="share-icons" id="share-icons">

              {{! 以下都是分享的图标，用font-class 和 symbol 两种方式引用
                  font-class 用这种形式加载<i class="iconfont icon-xxx"></i>
                  icon-xxx是加载的形状，具体见fonts/demo_fontclass.html这个文档

                  其他的是css，比如要加载一个新浪微博，那么前面需要加 iconfont iconfont-weibo 这两个css，第一个是控制大小的，第二个是红颜色。
                  因为font-class加载是单色图片，所以需要加上颜色。

                  symbol的方式不需要加颜色了，不过主要要加偏移量transform=translate(0,20)，因为坐标系不一样。

            }}

              <svg class="icon iconfont-ele" aria-hidden="true" transform=scale(2.5)>
              <use xlink:href="#icon-element"></use>
              </svg>

              <!-- <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-element1"></use>
              </svg> -->

              <br></br>
              <br></br>

              <a class="icon-share iconfont-weibo" href="http://weibo.com/halfrost">
                <span class=""><i class="iconfont iconfont-weibo icon-iconfontweibo"></i></span>
              </a>

              <a class="icon-share iconfont-weixin" href="https://img.halfrost.com/me/IMG_1791.JPG">
                  <span class=""><i class="iconfont iconfont-weixin icon-iconfontwechat"></i></span>
              </a>

              <a class="icon-share iconfont-jianshu" href="http://www.jianshu.com/u/12201cdd5d7a">
                  <span class=""><i class="iconfont iconfont-jianshu icon-jianshu"></i></span>
              </a>

              <a class="icon-share iconfont-juejin" href="https://juejin.im/user/5692e1e000b09aa2e8dcd422">
                  <span class=""><i class="iconfont iconfont-juejin icon-juejin"></i></span>
              </a>

              <a class="icon-share" href="https://github.com/halfrost">
                  <span class=""><i class="iconfont iconfont-github icon-github"></i></span>
              </a>

              <a class="icon-share iconfont-zhihu" href="https://www.zhihu.com/people/halfrost/activities">
                  <span class=""><i class="iconfont iconfont-zhihu icon-iconfontzhihu"></i></span>
              </a>

              <a class="icon-share iconfont-twitter" href="https://twitter.com/halffrost">
                  <span class=""><i class="iconfont iconfont-twitter icon-iconfonttwitter"></i></span>
              </a>

              <a class="icon-share " href="mailto:ydz627@gamil.com">
                  <span class=""><i class="iconfont  iconfont-gmail icon-iconfontgoogle"></i></span>
              </a>

              <a class="icon-share iconfont-sf" href="https://segmentfault.com/u/halfrost">
                    <span class=""><i class="iconfont iconfont-sf icon-iconsf-copy"></i></span>
              </a>

              <br></br>
              <br></br>


                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-PS"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-d-sketch-copy"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-ios"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Swift_"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-h5-copy"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform="translate(0,0) scale(1.0,1.0)">
                <use xlink:href="#icon-socialcss3"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-JS"></use>
                </svg>


                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-vuejs"></use>
                </svg>


                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-download_react-native"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-stackoverflow_"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-telegram-copy"></use>
                </svg>

                {{!<svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-socialangular"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform="translate(0,0) scale(1.3)">
                <use xlink:href="#icon-java"></use>
                </svg>

                <svg class="icon iconfont-weibo" aria-hidden="true" transform="translate(0,0) scale(0.8)">
                <use xlink:href="#icon-ruby_rough"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,20)>
                <use xlink:href="#icon-image-icon_python"></use>
                </svg>}}

            </div>
        </section>

</main>

{{/post}}
