{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    {{#if feature_image}}
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{feature_image}}">
    {{else}}
    <img src="https://ob6mci30g.qnssl.com/Blog/me.png" class="hide">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="https://ob6mci30g.qnssl.com/Blog/ArticleTitleImage/background-cover1.png" style="background-image:no-cover">
    {{/if}}

        <div class="nav-header">
        <div class="nav-header-container">
            <button class="back-home" onclick="window.history.back()">Back</button>
        </div>

        </div>
        <div class="header-wrap" >
            <div class="post-info-container">
                <h2 class="post-page-title ">
                {{title}}
                </h2>
                <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
                <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
                <span class="post-page-tags">
                    {{tags prefix="" separator=" "}}
               </span>
               <span class="post-page-time">{{reading_time}}</span>
            </div>
        </div>
        <div class="arrow_down">
               <a href="javascript:;"></a>
        </div>
    </header>

    <main class="content" id="main" role="main">
      <article class="archives"></article>

      <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
      <script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
      <script type = "text/javascript">
      /**
       * 调用ghost API，完成文章归档功能
       * 所需组件：jQuery、moment.js
       * @ldsun.com
       */
      jQuery(document).ready(function() {
        //获取所有文章数据，按照发表时间排列
        $.get(ghost.url.api('posts', {
          limit: 'all',
          order: "published_at desc"
        })).done(function(data) {
          var posts = data.posts;
          var count = posts.length;
          for (var i = 0; i < count; i++) {
            //调用comentjs对时间戳进行操作
            //由于ghost默认是CST时区，所以日期会有出入，这里消除时区差
            var time = moment(posts[i].published_at).utcOffset("-08:00");
            var year = time.get('y');
            var month = time.get('M')+1;
            var date = time.get('D');
            if( date<10 ) date = "0"+date;
            var title = posts[i].title;
            var url = "{{@blog.url}}"+posts[i].url;
            //首篇文章与其余文章分步操作
            if (i > 0) {
              var pre_month = moment(posts[i - 1].published_at).utcOffset("-08:00").get('month')+1;
              //如果当前文章的发表月份与前篇文章发表月份相同，则在该月份ul下插入该文章
              if (month == pre_month) {
                var html = "<li><time>"+date+"日</time><a href='"+url+"' style='color: #4fc3f7'>"+title+"</a></li>";
                $(html).appendTo(".archives .list-"+year+"-"+month);
              }
              //当月份不同时，插入新的月份
              else{
                var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"' style='color: #4fc3f7'>"+title+"</a></li></ul></div>";
                $(html).appendTo('.archives');
              }
            }else{
              var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"' style='color: #4fc3f7'>"+title+"</a></li></ul></div>";
              $(html).appendTo('.archives');
            }
          }
        }).fail(function(err) {
          console.log(err);
        });
      });
      </script>
    </main>

<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

{{/post}}
