{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    <div id="page" class="site">
    {{> sidebar}}
    {{> search}}
    <div class="overlay"></div>
    </div>

    <button class="go-back" onclick="window.history.back()"><i class="fa fa-chevron-left" style="font-size:30px;color:#fff;"></i></button>

    <a class="search-toggle" href="#"><i class="fa fa-search" style="font-size:30px;"></i></a>
		<a class="sidebar-toggle" href="#"><span class="icon-nav-custom" aria-hidden="true" style="color:#fff;background:#fff;height:4px;"></span></a>

    <!-- {{#if feature_image}}
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{feature_image}}">
    {{else}}
    <img src="https://ob6mci30g.qnssl.com/Blog/me.png" class="hide">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="https://ob6mci30g.qnssl.com/Blog/ArticleTitleImage/background-cover1.png" style="background-image:no-cover">
    {{/if}}

        <div class="nav-header">
        <div class="nav-header-container">
            <button class="back-home" onclick="window.history.back()">Back</button>
        </div>

        </div>
        <div class="header-wrap" >
            <div class="post-info-container">
                <h2 class="post-page-title ">
                {{title}}
                </h2>
                <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
                <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
                <span class="post-page-tags">
                    {{tags prefix="" separator=" "}}
               </span>
               <span class="post-page-time">{{reading_time}}</span>
            </div>
        </div>
        <div id="scroll-hint" class="header-scroll-hint hide-on-menu">
            <i class="fa fa-chevron-down"></i>
        </div>
    </header> -->
    <header class="cover post-header">
				{{#if feature_image}}
				<div class="cover-bg lazy" data-url="{{feature_image}}"></div>
				{{/if}}
				<div class="cover-content">
					<div class="inner">
						{{#if tags}}
						<div class="post-page-tags" style="text-align:center;margin-top:0;margin-bottom:15px;">
							{{tags separator=""}}
						</div><!-- .post-tags -->
						{{/if}}
						<h1 class="post-title" style="padding-bottom: 30px;margin-bottom: 30px;">{{title}}</h1>
						<div class="post-meta">
              <span class="post-meta-wrap">{{#if author.profile_image}}<img class="author-avatar" src="{{author.profile_image}}" />{{/if}} <span class="post-author">{{author}}</span> <time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span> <span class="reading-time">Estimate {{reading_time}}</span>

							<!-- by <span class="post-author">{{authors}}</span> on <time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time> <span class="reading-time">Estimate {{reading_time}}</span> -->
						</div><!-- .post-meta -->
						<!-- <a href="#" class="scroll-down square light"><span class="icon-down-custom" aria-hidden="true"></span><span class="screen-reader-text"></span></a> -->
            <div id="scroll-hint" class="header-scroll-hint hide-on-menu">
                <i class="fa fa-chevron-down"></i>
            </div>
					</div><!-- .inner -->
				</div><!-- .cover-content -->
			</header><!-- .cover -->

<main class="content" id="main" role="main">

    <article class="{{post_class}}">

     <section class="post-content">
     <div class="single-post-inner">
        {{content}}
        <div class="tag-box">
          {{tags prefix="" separator=" "}}
        </div>
        <div class="money-like" id="like-money">
            <div class="reward-button">赏
            <span class="money-code" style="width: 294.8px;height: 172.4px;">
            <span class="alipay-code">
                <a href="javascript:;">
                <img data-url="{{asset "images/qr-alipay-255.png"}}" class="alipay-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>支付宝扫码打赏</b>
                </a>
            </span>
            <span class="wechat-code">
                <img data-url="{{asset "images/qr-wechat-255.png"}}" class="wechat-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>微信打赏</b>
            </span>
            </span>

            </div>
            <p class="money-notice">若你觉得我的文章对你有帮助,欢迎点击上方按钮对我打赏</p>
        </div>
        <div class="qr-code">
            <img src="https://encrypt.proxy.is26.com/qr?content={{url absolute="true"}}" alt="">
            <p>扫描二维码,分享此文章</p>
        </div>
     </div>
    </section>


    {{#author}}
                <section class="author">
                 {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="javascript:;" style="background-image: url('{{profile_image}}')"><span class="hide">{{name}}'s Picture</span></a>
            </figure>
              {{/if}}

            <section class="author-detail">
                <a href="javascript:;">{{name}}</a>
            {{#if bio}}
                 <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
                <div class="author-meta">
                     {{#if location}}
                    <span class="author-location">{{location}}</span>
                    {{/if}}
                     {{#if website}}
                    <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                    {{/if}}
                </div>

            </section>
        </section>
        {{/author}}


    </article>

          <section class="share">
            <div class="share-icons" id="share-icons">

              {{! 以下都是分享的图标，用font-class 和 symbol 两种方式引用
                  font-class 用这种形式加载<i class="iconfont icon-xxx"></i>
                  icon-xxx是加载的形状，具体见fonts/demo_fontclass.html这个文档

                  其他的是css，比如要加载一个新浪微博，那么前面需要加 iconfont iconfont-weibo 这两个css，第一个是控制大小的，第二个是红颜色。
                  因为font-class加载是单色图片，所以需要加上颜色。

                  symbol的方式不需要加颜色了，不过主要要加偏移量transform=translate(0,20)，因为坐标系不一样。

            }}

              <svg class="icon iconfont-ele" aria-hidden="true" transform=scale(2.5)>
              <use xlink:href="#icon-element"></use>
              </svg>

              <!-- <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-element1"></use>
              </svg> -->

              <br></br>
              <br></br>

              <a class="icon-share iconfont-weibo" href="http://weibo.com/halfrost">
                <span class=""><i class="iconfont iconfont-weibo icon-iconfontweibo"></i></span>
              </a>

              <a class="icon-share iconfont-weixin" href="https://ob6mci30g.qnssl.com/me/IMG_1791.JPG">
                  <span class=""><i class="iconfont iconfont-weixin icon-iconfontwechat"></i></span>
              </a>

              <a class="icon-share iconfont-jianshu" href="http://www.jianshu.com/u/12201cdd5d7a">
                  <span class=""><i class="iconfont iconfont-jianshu icon-jianshu"></i></span>
              </a>

              <a class="icon-share iconfont-juejin" href="https://juejin.im/user/5692e1e000b09aa2e8dcd422">
                  <span class=""><i class="iconfont iconfont-juejin icon-juejin"></i></span>
              </a>

              <a class="icon-share" href="https://github.com/halfrost">
                  <span class=""><i class="iconfont iconfont-github icon-github"></i></span>
              </a>

              <a class="icon-share iconfont-zhihu" href="https://www.zhihu.com/people/halfrost/activities">
                  <span class=""><i class="iconfont iconfont-zhihu icon-iconfontzhihu"></i></span>
              </a>

              <a class="icon-share iconfont-twitter" href="https://twitter.com/halffrost">
                  <span class=""><i class="iconfont iconfont-twitter icon-iconfonttwitter"></i></span>
              </a>

              <a class="icon-share " href="mailto:ydz627@gamil.com">
                  <span class=""><i class="iconfont  iconfont-gmail icon-iconfontgoogle"></i></span>
              </a>

              <a class="icon-share iconfont-sf" href="https://segmentfault.com/u/halfrost">
                    <span class=""><i class="iconfont iconfont-sf icon-iconsf-copy"></i></span>
              </a>

              <br></br>
              <br></br>


                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-PS"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-d-sketch-copy"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-ios"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Swift_"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-h5-copy"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform="translate(0,0) scale(1.0,1.0)">
                <use xlink:href="#icon-socialcss3"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-JS"></use>
                </svg>


                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-vuejs"></use>
                </svg>


                <svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-download_react-native"></use>
                </svg>


                {{!--<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-stackoverflow_"></use>
                </svg>

                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-telegram-copy"></use>
                </svg>--}}

                {{!--<svg class="icon" aria-hidden="true" transform=translate(0,0)>
                <use xlink:href="#icon-socialangular"></use>
                </svg>

                <svg class="icon" aria-hidden="true" transform="translate(0,0) scale(1.3)">
                <use xlink:href="#icon-java"></use>
                </svg>

                <svg class="icon iconfont-weibo" aria-hidden="true" transform="translate(0,0) scale(0.8)">
                <use xlink:href="#icon-ruby_rough"></use>
                </svg>--}}

                <!-- <svg class="icon" aria-hidden="true" transform=translate(0,20)>
                <use xlink:href="#icon-image-icon_python"></use>
                </svg> -->

            </div>
        </section>

        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
          <section class="gh-subscribe">
            <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
            <p>Get the latest posts delivered right to your inbox.</p>
            {{subscribe_form placeholder="Your email address"}}
            <span class="gh-subscribe-rss">or subscribe <a href="{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
          </section>
        {{/if}}

        {{!-- The tag below includes the theme comments - partials/comments.hbs --}}
        {{> comments}}

        <aside class="read-next">
          {{#next_post}}
          <a class="read-next-story {{#if feature_image}} lazy" data-url="{{feature_image}}" style="background-image: url(){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="6"}}&hellip;</p>
            </section>
          </a>
          {{/next_post}}
          {{#prev_post}}
        <a class="read-next-story prev {{#if feature_image}} lazy" data-url="{{feature_image}}" style="background-image: url(){{else}}no-cover{{/if}}" href="{{url}}">
          <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="6"}}&hellip;</p>
            </section>
        </a>
        {{/prev_post}}
      </aside>
</main>
<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
{{/post}}
