{{#get "posts" limit="5" include="tags" as |recents|}}
    <div class="l-search__sidebar-block">
        <h5 class="m-search-label">Recent articles</h5>
        {{#foreach recents}}
            <article class="m-recent-article post-access-paid"></article>
                <a href="{{url}}" class="m-recent-article__link" aria-label="{{title}}">
                    <img class="m-recent-article__image post-thumbnail lazy" data-url="{{img_url feature_image size="s"}}" src="{{img_url feature_image size="s"}}" alt="{{title}}">
                    <div class="m-recent-article__info">
                        <h4 class="m-recent-article__title">{{title}}</h4>
                        <span class="m-recent-article__date">{{date}}</span>
                        <span class="m-access-tag in-recent-post paid"></span>
                    </div>
                </a>
            </article>
        {{/foreach}}
    </div>
{{/get}}